html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    min-height: 100vh;
    max-width: 1028px;
    margin: auto;
    background-color: #f0f5f9;
    position: relative;
    display: flex;
}

.main {
    height: 707px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    justify-self: center;
    align-self: center;
    margin: 0 auto;
    border-radius: 20px;
    flex-direction: column;
    background-color: white;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blanja {
    color: #db3d23;
    font-weight: 700;
    padding-left: 10px;
    padding-top: 10px;
}

.reset {
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    margin-top: 62px;
}

.img-reset {
    margin-top: 34px;
}

.desc {
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    line-height: 21px;
    margin-top: 40px;
}

.btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-top: 20px;
    width: 204px;
    height: 36px;
    background: #db3022;
    border-radius: 25px;
    color: white;
    outline: none;
    cursor: pointer;
    border: none;
}

.ornament {
    margin-top: 84px;
    width: 600px;
    height: 22px;
    background: #df4538;
    border-radius: 0px 0px 20px 20px;
}