html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: black;
}

.navbar-container {
    min-height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 6px 40px rgba(173, 173, 173, 0.25);
}

.logo {
    display: flex;
}

.blanja {
    color: #db3d23;
    font-weight: 700;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 24px;
}

.input-group {
    height: auto;
    margin-left: 60px;
    width: 507px !important;
}

.inputan {
    height: auto !important;
    width: 507px !important;
    border: 1px solid #8e8e93;
    border-radius: 23px !important;
    font-size: 16px;
    padding-left: 20px;
}

.input-group.with-icon>input::-ms-clear {
    display: none;
}

.input-group.with-icon>i {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    pointer-events: none;
    position: absolute;
    z-index: 3;
    top: 50%;
}

.input-group.with-icon>i,
.input-group.with-icon.icon-right>i {
    right: 0.7rem;
}

.input-group.with-icon>input,
.input-group.with-icon.icon-right>input {
    padding-right: 1.7rem;
}

.fa-search {
    color: #8e8e93;
}

.btnFilter {
    width: 40px;
    height: 40px;
    border: 1px solid #8e8e93;
    border-radius: 12px;
    margin-left: 11px;
    background-color: transparent;
}

.cart {
    margin-left: 120px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.notification {
    margin-left: 45px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.mail {
    margin-left: 45px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.profile {
    margin-left: 45px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.content {
    width: 1440px;
    height: auto;
    display: flex;
}

.title {
    font-size: 34px;
    font-weight: 700;
    margin-top: 50px;
}

.detail {
    font-size: 16px;
    font-weight: 600;
    margin-top: 30px;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.address {
    width: 720px;
    height: 190px;
    background: #ffffff;
    box-shadow: 0px 0px 8px rgba(115, 115, 115, 0.25);
    border-radius: 4px;
    margin-top: 14px;
}

.btnAddress {
    width: 210px;
    height: 36px;
    background: white;
    color: grey;
    outline: none;
    cursor: pointer;
    border: 1px solid #9b9b9b;
    box-sizing: border-box;
    border-radius: 24px;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 14px;
    font-weight: 500;
}

.item {
    width: 720px;
    height: 126px;
    background: #ffffff;
    box-shadow: 0px 0px 8px rgba(115, 115, 115, 0.25);
    border-radius: 4px;
    margin-top: 20px;
    display: flex;
    margin-left: 0;
}

.image {
    border-radius: 8px !important;
    margin-left: 20px;
}

.shopping {
    height: 256px;
    width: 370px;
    margin-left: 50px;
    margin-top: 114px;
    background: #ffffff;
    box-shadow: 0px 0px 8px rgba(115, 115, 115, 0.25);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.btnSelectPayment {
    width: 322px;
    height: 36px;
    background: #db3022;
    border-radius: 25px;
    color: white;
    outline: none;
    cursor: pointer;
    border: none;
    margin-top: 24px;
    font-size: 14px;
}

.btn-buy {
    width: 160px;
    height: 36px;
    border: none;
    box-sizing: border-box;
    border-radius: 24px;
    font-size: 14px;
    background-color: #db3022;
    color: white;
}