html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

h1 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
}

h2 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

h3 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}

h4 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

h5,
h6,
p,
div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: #8e8e93;
}

.navbar-container {
    min-height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 6px 40px rgba(173, 173, 173, 0.25);
}

.logo {
    display: flex;
}

.blanja {
    color: #db3d23;
    font-weight: 700;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 24px;
}

.input-group.with-icon {
    position: relative;
    width: 507px;
    height: 40px;
    margin-left: 60px;
}

.input-group.with-icon .fas {
    position: absolute;
    top: 12px;
    left: 475px;
    font-weight: bold;
    font-style: normal;
}

.form-control-inputan {
    width: 507px;
    height: 40px;
    font-size: 16px;
    padding-left: 20px;
    z-index: -1;
    border: 1px solid #d4d4d4;
    border-radius: 23px;
}

.fa-search {
    color: #8e8e93;
    cursor: pointer;
}

.btnFilter {
    width: 40px;
    height: 40px;
    border: 1px solid #8e8e93;
    border-radius: 12px;
    margin-left: 11px;
    background-color: transparent;
}

.cart {
    margin-left: 120px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.btnLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 36px;
    background: #db3022;
    border-radius: 25px;
    color: white;
    margin-left: 40px;
    outline: none;
    cursor: pointer;
    border: none;
}

.btnSignup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 36px;
    background-color: transparent;
    border: 1px solid #9b9b9b;
    border-radius: 24px;
    color: #9b9b9b;
    margin-left: 20px;
    outline: none;
    cursor: pointer;
}

.content {
    width: 1440px;
}

.nav-wrapper {
    margin-top: 50px;
}

.main {
    display: flex;
}

.main-image {
    border-radius: 8px;
}

.preview-image {
    border-radius: 8px;
}

.image {
    margin-left: 0;
    margin-top: 50px;
}

.preview-image-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
}

.product-title {
    margin-top: 50px;
    margin-left: 28px;
}

.brand-name {
    margin-left: 28px;
}

.star-wrapper {
    display: flex;
    margin-top: 15px;
    margin-left: 28px;
}

.rating {
    font-size: 10px;
    font-weight: 400;
}

.text-product-price {
    margin-top: 31px;
    margin-left: 28px;
}

.text-price {
    margin-top: 10px;
    margin-left: 28px;
    font-size: 33px;
}

.text-color {
    margin-top: 40px;
    margin-left: 28px;
}

.color-wrapper {
    margin-top: 14px;
    margin-left: 28px;
}

.radio-color {
    height: 36px;
    width: 36px;
    -webkit-appearance: none;
    border-radius: 50%;
    vertical-align: middle;
    outline: none;
    cursor: pointer;
    border: 3px solid #fff;
}

.radio-color:checked {
    box-shadow: 0px 0px 0px 1px #db3022;
}

.text-size-qty {
    margin-top: 40px;
    margin-left: 28px;
}

.wrapper-size-qty {
    display: flex;
    margin-top: 14px;
}

.minus {
    border-radius: 50%;
    height: 36px;
    width: 36px;
    border: none;
    outline: none;
    color: white;
    background-color: #d4d4d4;
    display: flex;
    align-self: center;
    margin-left: 28px;
    justify-content: center;
    font-size: 20px;
}

.size-qty {
    font-size: 20px;
    font-weight: 400;
    margin-left: 10px;
    display: flex;
    align-self: center;
}

.plus {
    border-radius: 50%;
    height: 36px;
    width: 36px;
    border: none;
    outline: none;
    color: black;
    background-color: white;
    display: flex;
    align-self: center;
    margin-left: 10px;
    justify-content: center;
    font-size: 20px;
    box-shadow: 0px 0px 4px rgba(142, 142, 142, 0.25);
}

.btn-wrapper {
    display: flex;
    margin-top: 47px;
    margin-left: 28px;
}

.btn-chat {
    width: 160px;
    height: 48px;
    border: 1px solid #222222;
    box-sizing: border-box;
    border-radius: 24px;
    font-size: 14px;
}

.btn-addBag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 48px;
    border: 1px solid #222222;
    box-sizing: border-box;
    border-radius: 24px;
    font-size: 14px;
    margin-left: 10px;
}

.btn-buyNow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 343px;
    height: 46px;
    border: none;
    box-sizing: border-box;
    border-radius: 24px;
    font-size: 14px;
    background-color: #db3022;
    color: white;
    margin-left: 10px;
}

.main-title {
    margin-top: 40px;
}

.main-desc {
    margin-top: 10px;
}

.main-star {
    height: 20px;
    width: 20px;
}

.rating-progress-wrapper {
    margin-left: 60px;
}

.text-rating-big {
    font-size: 60px;
    font-weight: 500;
}

.text-rating-small {
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 15px;
}

.rating-progress-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.progress-star {
    height: 15px;
    width: 15px;
    margin-right: 10px;
}

.text-rating-star {
    font-weight: 500;
    font-size: 14px;
    color: #9b9b9b;
    margin-right: 25px;
}

.progress {
    width: 120px;
    height: 6px;
    color: #db3d23;
    margin-right: 25px;
    background-color: white;
}

.text-title-main {
    margin-top: 50px;
    font-size: 34px;
    font-weight: 700;
}

.text-desc-main {
    color: gray;
    font-size: 12px;
    font-weight: 400;
    margin-top: 4px;
}

.row {
    margin-top: 25px;
}

.card {
    width: 208px;
    height: 278px;
    text-decoration: none;
    color: black;
}

.card-title {
    font-size: 16px;
    font-weight: 500;
    color: black;
}

.card-text {
    font-size: 16px;
    font-weight: 500;
    color: #db3022;
}

.card-brand {
    font-size: 12px;
    font-weight: 500;
    color: #9b9b9b;
}

.star-wrapper-card {
    display: flex;
    margin-top: 11px;
}

.ratings {
    font-size: 10px;
    font-weight: 400;
    color: black;
}