/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    .container {}
    /* CSS */
}


/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    .container {}
    /* CSS */
}


/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    .container {}
    /* CSS */
}


/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 481px) and (max-width: 767px) {
    .container {}
    /* CSS */
}


/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .navbar-container {
        min-height: 100px;
        margin-left: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 6px 40px rgba(173, 173, 173, 0.25);
    }
    /* CSS */
}